/part01-Part01_37.GiftTax/target/
/part02-Part02_01.Squared/target/
/part02-Part02_02.SquareRootOfSum/target/
/part02-Part02_03.AbsoluteValue/target/
/part02-Part02_04.ComparingNumbers/target/
/part02-Part02_05.CarryOn/target/
/part02-Part02_06.AreWeThereYet/target/
/part02-Part02_07.OnlyPositives/target/